.how-to-work {
  width: 100%;

  // .how-to-work__wrapper

  &__wrapper {
    position: relative;
    width: 100%;
    @include adaptiveValue("padding-block", 45, 20);
    overflow: hidden;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: -5%;
      background-image: url("../src/assets/image/sushi-sashimi-smoked.webp");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      height: 80vh;
      width: 55%;
      z-index: -1;
    }
  }

  // .how-to-work__container

  &__container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: toRem(10);
    width: 100%;

    @media (max-width: toEm(500)) {
      justify-content: center;
    }
  }
}
.container-htwork {
  // .container-htwork__article

  &__article {
    @include adaptiveValue("width", 580, 250);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-between;
    gap: toRem(10);
  }

  // .container-htwork__span

  &__span {
    color: $redcolor;
    font-size: toRem(14);
    font-weight: 700;
  }

  // .container-htwork__title

  &__title {
    font-weight: 700;
    @include adaptiveValue("font-size", 40, 24);
    line-height: 1.2;
    text-transform: capitalize;
  }

  // .container-htwork__text

  &__text {
    @include adaptiveValue("padding-top", 35, 15);
    color: $textlight;
    line-height: 1.5;
    vertical-align: middle;
    @include adaptiveValue("font-size", 16, 10);

    @media (max-width: toEm(500)) {
      padding-left: toRem(5);
      color: $textcolor;
      text-align: justify;
      background-color: rgb(259 276 237 / 27%);
    }
  }

  // .container-htwork__button

  &__button {
    margin: 0 auto;
    margin-top: toRem(20);
    max-width: toRem(180);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: toRem(3);
    border-radius: toRem(54);
    background-color: $redcolor;
    transition: transform 0.3s ease;
    position: relative;
    overflow: hidden;
    padding-inline: toRem(5);
    transition: all 0.6s;

    &:hover {
      transform: scale(1.02);
      transition: transform 0.6s ease;
    }
    &:hover .container-htwork__circle {
      transform: translateX(0);
      transition: transform 0.6s ease;
    }

  }

  &__span--btn {
    color: #fff;
    flex-shrink: 0;
    line-height: 1.5;
    font-size: toRem(16);
    font-weight: 700;
    padding: toRem(13);
  }

  // .container-htwork__circle

    &__circle {
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: center;
      @include adaptiveValue("width", 40, 30);
      @include adaptiveValue("height", 40, 30);
      background-color: #fff;
      border-radius: 50% 50%;
      transform: translate(-660%);
      transition: all 0.5s;
  
      @media (max-width: toEm(550)) {
        transform: translate(0);
      }
    }

  &__arrow {
    width: toRem(8);
    height: toRem(12);
    width: 100%;
    object-fit: contain;
    aspect-ratio: 1 / 1;
  }
}
.span-red-text {
  color: $redcolor;
  font-size: toRem(14);
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
  line-height: 1.21;
}

.title-level-2 {
  font-weight: 700;
  @include adaptiveValue("font-size", 40, 24);
  line-height: 1.2;
  text-transform: capitalize;
  text-align: center;
  vertical-align: middle;
}
